# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

*.pem
# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

#ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABgQDF1PDMK/V4Yd5FxkBEHmxEOFpxBs/HvrG0Jkz+hoYKBOdkF5Q2Z7LndmshJPTxAQ6ACNwHt6D4lq+rghn/hFvqZiWi9YoNfshcQq5BtEP8ZLVjjUeXzoOKXb9Dc27ZKR8Jc+UYvAHGvMT33b4mrNk3wVAgjWjWEfmbt2LLrpCuoY8LqKWwbFLKSQbipu3MBwCwh/ESo4XFtdRjrik+0/GV7rRNnApRQh4kn40UNOXU9NXuRbg4DbTBFIoClSEUBK9PyeHzh/L6GSUxRUQ8d6FNGNnEVnWZ5Xnnta4+g7n6LT5+ZDMo7FI17Iq1RQGHnwWcz74hIvVpCOwUZBNLv7ijomoqPLgfT+jGOUB30AzPPqwQYcq49Ku8VDE8wTn+mD4Z+GR7WVHEihFLDESPCU1nDrKsxgC0LC/lk0jmi+6Jptlpjw2v0c5jyBI/r7BPLer6EfqXdKIi2KwCzaHq+NrZhVRB7It/K+5Ms4btl1JzEBSQN3CrOjYsOHSezu1kjaM= jenkins@ip-172-31-86-11